@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

body {
  @apply text-gray-900 dark:text-gray-100;
}

.container {
  @apply max-w-6xl mx-auto px-4;
}
